body, html{
  height:100%;
}
body{
  background: url(https://media.istockphoto.com/photos/abstract-digital-background-with-rotating-neon-stars-modern-blue-picture-id1209657178?b=1&k=20&m=1209657178&s=170667a&w=0&h=yTCD0dHwGh0Q9umPNKu0KG0umpT8Wh-LBAfo0KuSqag=);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
/* .topbar{
  height:32px;
  background-color: #555;
} */
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.bouncy{
  width: 200px;
  height: 100px;
  background: blue;
  border-radius: 100px / 50px;
}
.spinny{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green;
}

